@font-face {
  font-family: dogica;
  src: url('/fonts/dogica.ttf');
}

:root {
  font-family: dogica, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #67d375;
  background-color: rgb(19, 18, 18);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  padding: 40px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  color: #4aa057;
}

.terminal-output {
  border: 1px solid #248030;
  padding: 1rem;
  margin-top: 1rem;
}

.terminal-output-wrap {
  margin-bottom: 1rem;
}

.user-input-wrap {
  background-color: rgb(19, 18, 18);
}

.btn {
  background-color: rgb(19, 18, 18);
  border: 1px solid #248030;
  font-size: 1rem;
  font-family: dogica, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1rem;
  margin-top: 1rem;
  margin-right: 2rem;
  color: #67d375;
}

.btn:hover {
  border-color: #67d375
}